# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Plotly and other generated HTML visualizations
static/*.html

# Logs
*.log

# PyCharm
.idea/